<!-- <div class="row ml-1">
  <div class="col-md-7">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>IsActive</th>
          <th>Name</th>
          <th>NeighId</th>
          <th>PersonId</th>
          <th>Wkt</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let field of fields">
          <td>{{ field.Id}}</td>
          <td>{{ field.IsActive }}</td>
          <td>{{ field.Name }}</td>
          <td>{{ field.NeighId }}</td>
          <td>{{ field.PersonId }}</td>
          <td>{{ field.Wkt }}</td>
          <td>
            <button class="btn btn-primary">Edit</button>
            <button class="btn btn-danger">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->
