<form class="card w-25 h-25 p-3 ">
  <div class="card-header bg-primary text-white">
    Add Field
  </div>
  <div class="form-group mt-2">
    <label for="name">Id</label>
    <input type="text" #id class="form-control" id="id" placeholder="id">
  </div>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" #name class="form-control" id="name" placeholder="Name">
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="isActive">Active</label>
    </div>
    <select #isActive class="custom-select" id="isActive">
      <option selected>Choose...</option>
      <option [value]='True'>true</option>    <!-- Ts icerisine True property tanimlandi = string to boolean for json request1! -->
      <option [value]='False'>false</option>  <!-- Ts icerisine False property tanimlandi = string to boolean for json request1! -->
    </select>
  </div>

  <div class="form-group">
    <label for="neighId">NeighId</label>
    <input type="number" #neighId class="form-control" id="neighId" placeholder="NeighId">
  </div>
  <div class="form-group">
    <label for="personId">PersonId</label>
    <input type="number" #personId class="form-control" id="personId" placeholder="PersonId">
  </div>
  <div class="form-group">
    <label for="cityId">CityId</label>
    <input type="number" #cityId class="form-control" id="cityId" placeholder="cityId">
  </div>
  <div class="form-group">
    <label for="createdTime">CreatedTime</label>
    <input type="datetime" #createdTime class="form-control" id="createdTime" placeholder="CreatedTime">
  </div>
  <div class="form-group">
    <label for="wkt">Wkt</label>
    <input type="text" #wkt class="form-control" id="wkt" placeholder="Wkt">
  </div>
  <div class="form-group">
    <label for="age">People's age</label>
    <input type="number" #age class="form-control" id="age" placeholder="Age">
  </div>
  <button class="btn btn-primary btn-sm"
    (click)="addField(id.value, name.value, isActive.value, neighId.value, personId.value, cityId.value, createdTime.value,
    wkt.value, age.value);
    id.value=''; name.value=''; isActive.value=''; neighId.value=''; personId.value='';  cityId.value='';  createdTime.value='';
    wkt.value='';  age.value='';">Save</button>
    <button class="btn btn-secondary btn-sm" (click)="backToField()">Back to Field</button>
</form>
