<!-- <form class="m-5">
  <div class="form-group">
    <label for="Id">Id</label>
    <input type="text" class="form-control" id="Id" placeholder="Id">
  </div>
  <div class="form-group">
    <label for="Name">Name</label>
    <input type="text" class="form-control" id="Name" placeholder="Name">
    <div class="form-group">
      <label for="Wkt">Wkt</label>
      <input type="text" class="form-control" id="Wkt" placeholder="Wkt">
    </div>
    <div class="form-group">
      <label for="IsActive">IsActive</label>
      <input type="text" class="form-control" id="IsActive" placeholder="IsActive">
    </div>
    <div class="form-group">
      <label for="CreatedTime">CreatedTime</label>
      <input type="text" class="form-control" id="CreatedTime" placeholder="CreatedTime">
    </div>
  </div>
</form> -->
