<form class="card m-3" style="width: 18rem; text-align:justify;">
  <div class="card-header">
    Add Field
  </div>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" #name class="form-control" id="name" placeholder="Name">
  </div>
  <div class="form-group">
    <label for="isActive">IsActive</label>
    <input type="checkbox" #isActive class="form-control" id="isActive" placeholder="IsActive">
  </div>
  <div class="form-group">
    <label for="neighId">NeighId</label>
    <input type="number" #neighId class="form-control" id="neighId" placeholder="NeighId">
  </div>
  <div class="form-group">
    <label for="personId">PersonId</label>
    <input type="number" #personId class="form-control" id="personId" placeholder="PersonId">
  </div>
  <div class="form-group">
    <label for="cityId">CityId</label>
    <input type="number" #cityId class="form-control" id="cityId" placeholder="cityId">
  </div>
  <div class="form-group">
    <label for="createdTime">CreatedTime</label>
    <input type="datetime" #createdTime class="form-control" id="createdTime" placeholder="CreatedTime">
  </div>
  <div class="form-group">
    <label for="wkt">Wkt</label>
    <input type="text" #wkt class="form-control" id="wkt" placeholder="Wkt">
  </div>
  <div class="form-group">
    <label for="age">People's age</label>
    <input type="number" #age class="form-control" id="age" placeholder="Age">
  </div>
  <button class="btn btn-primary btn-sm"
    (click)="addField(name.value, isActive.value, neighId.value, personId.value, cityId.value, createdTime.value,
    wkt.value, age.value);
    name.value=''; isActive.value=''; neighId.value=''; personId.value='';  cityId.value='';  createdTime.value='';
    wkt.value='';  age.value='';">Save</button>
</form>
