<div class="card my-3" *ngIf="field">
  <div class="card-body">
    <span class="badge badge-warning">
      id: {{ field.id }}
    </span>
    <div class="form-group">
      <label for="name"></label>
      <input  type="text" [(ngModel)]="field.name" class="form-control">
    </div>
    <div class="form-group">
      <label for="isActive"></label>
      <input  type="text" [(ngModel)]="field.isActive" class="form-control">
    </div>
    <div class="form-group">
      <label for="neighId"></label>
      <input  [(ngModel)]="field.neighId" class="form-control">
    </div>
    <div class="form-group">
      <label for="personId"></label>
      <input  [(ngModel)]="field.personId" class="form-control">
    </div>
    <div class="form-group">
      <label for="cityId"></label>
      <input  [(ngModel)]="field.cityId" class="form-control">
    </div>
    <div class="form-group">
      <label for="createdTime"></label>
      <input  [(ngModel)]="field.createdTime" class="form-control">
    </div>
    <div class="form-group">
      <label for="Wkt"></label>
      <input  [(ngModel)]="field.wkt" class="form-control">
    </div>
    <!-- <div class="form-group">
      <label for="age"></label>
      <input  [(ngModel)]="field.age" class="form-control"></input>
    </div> -->
  </div>
</div>
